html, body{
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: #141014;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#stuff{
    height: 100%;
    width: 100%;
}

#tsucky-container{
    position: absolute;
    height: 100%;
}

#tsucky-container *{
    height: 100%;
    width: auto;
    position: absolute;
}

#hitbox-container{
    position: absolute;
    height: 100%;
}

#hitbox-container *{
    position: absolute;
}

.invisible *{
    background-color: transparent !important;
}

.cat_part{
    z-index: 0;
}

.outline{
    z-index: 1;
}

.accessory{
    z-index: 2;
}

.editor-container{
    display: flex;
    justify-content: baseline;
    align-items: center;
    flex-direction: column;
}

#editor{
    position: absolute;
    width: 30%;
    height: 100%;
    background-color: black;
    right: 0;
    overflow: scroll;
}

#header-text{
    font-weight: bold;
    font-size: 21pt;
    margin: 10px;
}

#part-editor{
    margin: 10px;
    width: 100%;
    height: auto;
}

.selector{
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
    width: 90%;
    height: 100px;
    color: grey;
}

.slider{
    -webkit-appearance: none;
    top: 0;
    margin: 5px;
    width: 100%;
    height: 15px;
    border-radius: 5px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border-color: white;
  background: #00000060;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px; 
  height: 25px;
  border-radius: 50%;
  border-color: white; 
  background: #00000060; 
  cursor: pointer; 
}

#hue-selector{
    background-color: hsla(60deg, 100%, 50%, 0.3);
}

#brightness-selector{
    background-color: rgba(calc(255*.5), calc(255*.5), calc(255*.5), 0.3);
}

#grayscale-selector{
    background-color: hsla(60deg, 100%, 50%, 0.3);
}

#select-all{
    margin: 10px;
    width: 90%;
    height: 50px;
    justify-content: baseline;
    align-items: center;
    flex-direction: row;

    border: solid;
    border-width: 1px;
    border-color: white;
    border-style: dashed;
    padding: 2px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 5px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.checkbox-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #141014;
  -webkit-transition: .4s;
  transition: .4s;
}

.checkbox-slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .checkbox-slider {
  background-color: #ff8800ec;
}

input:focus + .checkbox-slider {
  box-shadow: 0 0 1px #ff8800ec;
}

input:checked + .checkbox-slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.checkbox-slider.round {
  border-radius: 34px;
}

.checkbox-slider.round:before {
  border-radius: 50%;
}

#select-all-text {
    font-weight: bolder;
    font-size: 16pt;
}

#background-editor{
    margin: 10px;
    width: 90%;
    height: 50px;
    justify-content: baseline;
    align-items: center;
    flex-direction: row;

    border: solid;
    border-width: 1px;
    border-color: white;
    border-style: dashed;
    padding: 2px;
}

#bg-picker{
    margin: 5px;
    background: black;
    border: none;
}

#bg-picker-text{
    font-weight: bolder;
    font-size: 16pt;
}

#export-editor{
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
}

img{
    pointer-events: none;
    user-select: none;
}

#flower{
    width: auto;
    height: 80%;
    border-width: 10px;
    border-radius: 10px;
    border-color: black;
    border: solid;
}

#flower-link{
    z-index: 6;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}